.img-box { 
    width: 100%; 
    height: 180px; /* هذا يثبت طول الصندوق */
    border-radius: 12px; 
    overflow: hidden; /* هذا يمنع الصورة من الخروج عن حدود الصندوق */
    background: transparent; 
    margin-bottom: 12px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
}

.product-img { 
    width: 100%;       /* إجبار الصورة على ملء عرض الصندوق */
    height: 100%;      /* إجبار الصورة على ملء طول الصندوق */
    object-fit: cover; /* السر هنا: سيجعل كل الصور متساوية تماماً ويقص الزيادات */
    mix-blend-mode: multiply; /* لإخفاء الخلفية البيضاء */
}
